html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

main {
    max-width: 1440px;
}

li {
    list-style: none;
}

.figtree-uniquifier {
    font-family: "Figtree", sans-serif;
    color: white;
}

.header {
    background-color: rgba(9, 33, 42, 1);
    height: 80px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
}

.Logo {
    transition: all 0.5s ease;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    gap: 8px;
}

.Logo:hover {
    transition: all 0.5s ease;
    filter: brightness(2) drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    transform: translateY(-5px);
}

.logo-headline {
    margin: 0;
    font-size: 32px;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    color: white;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header-right-links {
    width: 40px;
    height: 40px;
    filter: invert(1);
    transition: all 0.5s ease;
    border: 2px solid transparent;
}

.header-right-links:hover {
    filter: none;
    background-color: white;
    border-radius: 20px;
    border-color: white;
    transition: all 0.5s ease;
    transform: translateY(-2px);
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(6, 23, 30, 1);
    padding: 88px 80px 64px 80px;
}

.img-button {
    border-width: 0;
    border-style: none;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    cursor: pointer;
}

.main-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.imgs {
    transition: all 0.4s ease;
    width: 200px;
    height: 200px;
    border-radius: 16px;
}

.imgs:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(9, 33, 42, 1);
    height: 100px;
    padding: 0 80px;
    max-width: 1920px;
}

.footer-section {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.footer-section a {
    transition: all 0.5s ease;
    text-decoration: none;
    color: white;
}

.footer-section a:hover {
    transition: all 0.5s ease;
    filter: brightness(2) drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    transform: translateY(-5px);
}

.footer-seperator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.div-seperator {
    width: 2px;
    height: 48px;
    background-color: white;
}

.footer-contact-apps {
    transition: all 0.5s ease;
    width: 40px;
    height: 40px;
    filter: invert(1);
    border: 2px solid transparent;
}


.footer-contact-apps:hover {
    transition: all 0.5s ease;
    border-radius: 24px;
    border-color: white;
    filter: none;
    background-color: white;
    transform: translateY(-5px);
}

.footer-right {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.only-for-mobile {
    display: none;
}


/* kleine Laptop */

@media (max-width: 992px) {

    .header-right-links {
        width: 32px;
        height: 32px;
    }

    .Logo-img {
        width: 32px;
        height: 32px;
    }

    .logo-headline {
        font-size: 30px;
    }

    .logo-icon {
        width: 32px;
        height: 32px;
    }

    h5 {
        font-size: 12px;
    }

    .footer-center-links {
        font-size: 14px;
    }

    .footer-contact-apps {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 900px) {

    .header {
        padding: 0 40px;
    }

    .header-nav {
        gap: 18px;
    }

    .main-section {
        padding: 40px 40px 40px 40px;
    }


    .headline {
        font-size: 30px;
    }

    .imgs {
        width: 180px;
        height: 180px;
    }

    .footer {
        padding: 0 40px;
    }

    .footer-seperator {
        gap: 24px;
    }

    .footer-right {
        gap: 18px;
    }

    .div-seperator {
        display: none;
    }
}

@media (max-width: 768px) {

    .header {
        padding: 0 20px;
    }

    .Logo-img {
        width: 28px;
        height: 28px;
    }

    .logo-headline {
        font-size: 26px;
    }

    .main-section {
        padding: 32px 20px 32px 20px;
    }

    .headline {
        font-size: 25px;
    }

    .imgs {
        width: 170px;
        height: 170px;
    }

    .main-imgs {
        gap: 24px;
    }

    .footer {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 8px 20px 0 20px;
        gap: 14px;
    }

    .footer-seperator {
        width: 100%;
    }

}

@media (max-width: 600px) {

    .headline {
        font-size: 22px;
    }

    .main-imgs {
        gap: 16px;
    }
}

@media (max-width: 480px) {

    .header {
        padding: 0 16px;
    }

    .Logo {
        gap: 4px;
    }

    .Logo-img {
        width: 24px;
        height: 24px;
    }

    .header-right-links {
        width: 24px;
        height: 24px;
    }

    .logo-headline {
        font-size: 20px;
    }

    .headline {
        font-size: 22px;
    }

    .main-section {
        padding: 16px 16px 24px 16px;
    }

    .headline {
        font-size: 20px;
    }

    .imgs {
        width: 150px;
        height: 150px;
    }

    .main-imgs {
        gap: 12px;
    }

    .footer-contact-apps {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 390px) {

    .header {
        padding: 0 16px;
    }

    .Logo {
        gap: 4px;
    }

    .Logo-img {
        width: 24px;
        height: 24px;
    }

    .header-right-links {
        width: 24px;
        height: 24px;
    }

    .logo-headline {
        font-size: 20px;
    }

    .headline {
        font-size: 22px;
    }

    .main-section {
        padding: 16px 16px 24px 16px;
    }

    .headline {
        font-size: 20px;
    }

    .imgs {
        width: 100px;
        height: 100px;
    }

    .main-imgs {
        gap: 12px;
    }

    .footer-contact-apps {
        width: 24px;
        height: 24px;
    }
}